@import '../../styles/variables.scss';

.btn {
    background-color: $primary-color;
    color: white;
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    outline: none;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-top: 30px;
    transition: .2s;
    &:hover {
        background-color: white;
        color: $primary-color;
        cursor: pointer;
        transition: .2s;
    }
}

.btn_white {
    background-color: white;
    color: $primary-color;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: 1px solid $primary-color;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-top: 30px;
    transition: .2s;
    &:hover {
        background-color: $primary-color;
        color: white;
        cursor: pointer;
        transition: .2s;
    }
}