@import '../../styles/variables.scss';

.portfolio {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
    & > .portfolio_headline {
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
    & > .portfolio_options {
        & > .portfolio_list {
            list-style: none;
            padding: 0;
            & > .list_item {
                font-size: 1.3rem;
                margin: 0 auto;
                margin-top: 10px;
                padding: 5px 5px 5px 5px;
                border-radius: 20px;
                width: 50%;
                border: 1px solid $primary-color;
                color: $primary-color;
                &:first-child {
                    background-color: $primary-color;
                    color: white;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    & > .projects_list > .list_item > .item_project {
        background-image: url("/assets/images/header.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 20px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .projects_list { 
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        & > .list_item {
            width: 50% !important;
            & > .item_project {
                width: 90% !important;
                margin: 0 auto;
            }
        }
    }
    .portfolio_list {
        display: flex;
        & > .list_item {
            width: 200px !important;
        }
    }
}

@media only screen and (min-width: 992px) {
    .projects_list > .list_item {
        width: 33% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .projects_list > .list_item {
        width: 25% !important;
    }
}