@import '../styles/variables.scss';

.header_image {
    width: 90%;
    height: 300px;
    background-image: url('/assets/images/header1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    & > .header_headline {
        padding-top: 50px;
        margin: 0;
        font-size: 2.5rem;
        letter-spacing: 1px;
    }
    & > .header_underline {
        font-size: 1.3rem;
        color: rgb(99, 99, 99);
        letter-spacing: 1px;
    }
}

.footer {
    width: 100%;
    background-color: $primary-color;
    padding: 30px 0 30px 0;
    text-align: center;
    color: white;
    & > .socials {
        margin-top: 20px;
        & > .socials_list {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 0;
            & > .list_item {
                font-size: 3rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}